# Pi Network
PI_API_KEY=your_pi_api_key_here
PI_APP_ID=your_pi_app_id_here
PI_NETWORK_ENV=testnet
# غيّرها إلى mainnet عند الإطلاق الفعلي

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/souq-pi

# Admin
ADMIN_SECRET=اختر_كلمة_سر_قوية_هنا
